$sky: #2890d6;
$primary-font-color: #cccaca;
$placeholders-font-color: #d0d4e2;

$primary-overlay: #33333380;
$error-bg-color: #680000;

$linear-gradient-bg-body: linear-gradient(
  -50deg,
  #0d33d2,
  #f75f31,
  #778602,
  #0dd2a8
);
