// Mobile

$title-city-name-mobile: 40px;
$title-date-name-mobile: 20px;
$title-temperature-name-mobile: 60px;

$title-font-weight: 700;

$margin-bottom-mobile: 10px;

$svg-icon-size: 20px;

// Desktop
