@import "src/styles/shared.scss";

.SearchBar {
  height: 35px;
  margin-right: 20px;

  &-form {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $primary-font-color;
    border-radius: 15px;
    margin: 0 auto;

    &_input {
      width: 100%;
      color: $primary-font-color;

      &::placeholder {
        color: $placeholders-font-color;
      }
    }

    &_btn {
      padding: 5px;
      fill: $primary-font-color;
    }

    &_svg {
      width: $svg-icon-size;
    }
  }

  &-favorite {
    max-width: 200px;
    margin: 0 auto;
  }
}
