@import "src/styles/shared.scss";

.ErrorComp {
  max-width: 300px;
  position: absolute;
  top: 80px;
  right: -100%;
  padding: 10px;
  color: $primary-font-color;
  background-color: $error-bg-color;
  border-radius: 15px;
  box-shadow: 0 0 15px 5px $placeholders-font-color;
  animation: errorTransition 10s;
}

@keyframes errorTransition {
  0% {
    right: -100%;
  }
  5% {
    right: 50%;
    transform: translateX(50%);
  }
  95% {
    right: 50%;
    transform: translateX(50%);
  }
  100% {
    right: -100%;
  }
}
